<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <link rel="stylesheet" href="/style.css">

    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>A Dream of the Future</h1>
    </header>

    <main>
      <h2>Oh hi,</h2>

      <p>Tell me your hopes and dreams:</p>

      <form>
        <label>
          New Dream
          <input name="dream" type="text" maxlength="100" required placeholder="Dreams!">
        </label>
        <button type="submit" id="submit-dream">Add Dream</button>
      </form>

      <section class="dreams">
        <ul id="dreams">
          <em>loading dreams&hellip;</em>
        </ul>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>